#message {
  display:none;
  margin-top: 3px;
}

#message p {
  font-size: 14px;
  margin-bottom: -10px;
  margin-right: 4px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  left: -5px;
  content: "✓";
}

/* Add a grey text color and an "x" icon when the requirements are wrong */
.invalid {
  color: grey;
  opacity: 0.8;
}

.invalid:before {
  left: -15px;
  content: "✕";
}