body{
    background-image: url(../images/bubble-dark.png);
    color: white;
}

h3 {
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.navbar {
   width: 100%;
   padding-left: 15%;
   padding-right: 15%;
   background-color: #ffedb3;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
        font-weight: bold;
        font-size: 18px;
        color: #1a2edc;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ffedb3;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5px;
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

footer div ul {
    padding: 5% 25px;
}

footer div img{
    padding: 5% 15px;
}

footer div div ul {
    margin-bottom: 0px;

}

.navi-photo {
    max-width: 60%;
    display:block;
}

.table-categories {
    color: black;
    text-align: center;
}

.main-box {

    margin: auto;
    width: 400px;
    display: block;
    box-shadow: 0px 2px 2px rgba(0.5, 1, 1, 2);
    padding: 15px;
    background-color: rgba(179, 179, 255, 0.6);
}

.main-box-bigger {
    margin: auto;
    width: 700px;
    display: block;
    box-shadow: 0px 2px 2px rgba(0.5, 1, 1, 2);
    padding: 15px;
    background-color: rgba(179, 179, 255, 0.6);
}

.center-box{
    display: flex;
    justify-content: center;
}

.space-input{
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-space{
    margin-left: 15px;
}

.space-margin-bottom{
    margin-bottom: 15px
}

.space-top{
    margin-top: 15px;
}

.parallax-main-page {
    background-image: url(../images/mainPage.jpg);
    height: 500px;
    width: Auto;
    opacity: 0.8;
    text-align: center;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

div div div.font-size {
    font-size: 80px;
    font-weight: bold;
    padding-top: 70px;
    position: relative;
}

div div div.font-size-small {
    font-size: 25px;
    margin-top: 50px;
}

.width-elem {
    max-width: 1500px;
    padding: 15px 100px;
    margin: 0px auto;
}

.next-main-elem {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

.box-text-elem {
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
}

.contact-bg {
    background-color: rgb(255,255,255,0.6);
    padding: 20px;
}
.txt-center{
    text-align: center;
}

.contact-info {
    margin: auto;
}



