<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
    <title>Nożyce w Dłoni: Strona główna</title>
</head>
<body>
<div th:insert="webStatic/menu.html :: nav"></div>

<div class="container-fluid">

    <div class="parallax-main-page">
        <div class="font-size">Nożyce w dłoni</div>
        <div class="font-size-small"> Witamy na stronie poświęconej naszym pasjom gdzie będziesz mógł/mogła zadbać o swój wygląd</div>

    </div>

    <div class="space-top next-main-elem">Czym się zajmujemy</div>

    <div class="row width-elem">
        <div class="col-md-6 col-xl-6">
            <img th:src="@{images/womanHaircut.jpg}" class="img-fluid">
            <div class="box-text-elem">Strzyżenie oraz modelowanie damskie</div>

        </div>
        <div class="col-md-6 col-xl-6">
            <img th:src="@{images/manHaircut.jpg}" class="img-fluid">
            <div class="box-text-elem">Strzyżenie męskie</div>

        </div>
    </div>
</div>

<div th:insert="webStatic/menu.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>